:root {
    --dc-comics-primary: #0282f9;
    --dc-comics-main-dark: #1c1c1c;
    --dc-comics-footer-dark: #303030;
    --dc-comics-light: white;
}


/* region main */
.section_main {

    & .jumbotron {
        min-height: 400px;
        background-image: url('../images/jumbotron.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    color: var(--dc-comics-primary);
    min-height: 20vh;
}

.title {
    position: relative;
    top: -1rem;
}

.thumb_img {
    margin-left: 2rem;
    position: absolute;
    max-height: 350px;
    bottom: 1.5rem;
    box-shadow: 0 0 2rem black;
}

.section-talent-specs {
    padding-bottom: 12rem;
}

/* endregion main */


/* region footer */

footer {


    & .section_links {
        background-image: url('../images/dc-logo-bg.png'), url('../images/footer-bg.jpg');
        background-repeat: no-repeat;
        background-size: 600px, cover;
        background-position: 75%, top;
        padding: 1rem 0;

        & ul {
            & h4 {
                text-transform: uppercase;
                color: white;
                font-size: 1.5rem;
                font-weight: 600;
                margin: 1rem 0;
            }

            & li {
                list-style: none;
                color: gray;
                font-size: 0.9rem;
                margin: 0.25rem 0;
            }
        }

        & .cookies-settings {
            margin: 1rem 0;
            color: gray;
            font-size: 0.9rem;

            & a {
                text-decoration: none;
                color: var(--dc-comics-primary);
            }
        }
    }

    & .section_follow {
        padding: 1rem 0;
        background-color: var(--dc-comics-footer-dark);

        & .sign_and_follow {
            display: flex;
            justify-content: space-between;

            & .btn {
                border: 3px solid var(--dc-comics-primary);
                color: var(--dc-comics-light);
                background-color: transparent;
                text-transform: uppercase;
                padding: 1rem;
                font-weight: 800;
                font-size: 1rem;
            }

            & .follow-us {
                display: flex;
                align-items: center;
                gap: 1rem;

                & span {
                    font-weight: 600;
                    font-size: 1.2rem;
                    color: var(--dc-comics-primary);
                    text-transform: uppercase;
                }
            }
        }
    }

}

/* endregion footer */